{% extends 'bookmarket/base.html' %}
{% load static from staticfiles %}


{% block linkscript%}
    <link rel="stylesheet" type="text/css" href="{% static 'mine/css/modify_img.css' %}" />
    <script type="text/javascript" charset="utf-8" src="{% static 'mine/js/modify_img.js' %}" ></script>
{% endblock linkscript%}


{% block base %}
<div id="modify_img">
    <div id="header">
        <a href="/mine/">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <p>返回</p></a>
    </div>
    <form class="form-horizontal" action="/modify/1/" method="post" enctype="multipart/form-data" onsubmit="return checksubmit()">
        {%csrf_token%}
        <div class="input-group">
            <span class="input-group-addon">头像</span>
            <input required="required" type="file" class="form-control" aria-describedby="basic-addon1" name="userImg">
        </div>
        <br/>
        <div class="input-group">
            <span class="input-group-addon">注册</span>
            <input type="submit" class="form-control" id="sub" aria-describedby="basic-addon1" value="注册">
        </div>
    </form>
</div>
{% endblock base %}